*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url('../assets/img/fondo3.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; 
}
.contenedor{
    height: 100vh;
    display: grid;
    padding: 0 2rem;
}
.contLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.formlogin{
    padding: 25px;
    background: rgb(255 254 254 / 70%);
    border-radius: 10px;
}
.avatar{
    width: 100px;
}
.titulo{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}
.input{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    height: 40px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
.divlogi{
    border-bottom: 1px solid #333;
    text-align: initial;
    margin-bottom: 20px;
}
.inputlogi{
    border: none;
    outline: none;
    height: 40px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    background: none;
}
.boton{
    display: block;
    width: 100%;
    height: 50px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 25px;
    background-color: #4abdac;
    transition: .5%;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
}
.boton:hover{
    background-position: right;
    cursor: pointer;
}
.regis{
    text-align: left;
    color: #333;
}
.formlogin a{
    text-decoration: none;
    color:#4A94BD ;
    transition: .3s;
}
.formlogin a:hover{
    color: #4abdac;
}
.div2{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.div2 div{
    padding-right: 15px;
    padding-left: 15px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10%;
    background-color: #fff;
}
.menu img{
    width: 12em;
}
.menu li, .menu a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
    transition: .3s;
}
.menu li a:hover{
    color: #4abdac;
    cursor: pointer;
}
.FormReserva{
    margin: 10px auto;
    width: 65%;
}
.DatosPaci{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.inputReser{
    outline: none;
    height: 20px;
    width: 100%;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
.celdaDato{
    margin: 20px 0;
    padding-right: 20%;
}
.eldivtable{
    overflow:scroll;
    height:400px;
    width:100%;
}
table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    background: rgb(255 254 254 / 80%);
 }
 th, td {
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    padding: 10px 0.3em;
    caption-side: bottom;
 }
.ventanaModal{
    display: flex;
    background-color: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    position:fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.show{
    pointer-events: auto;
    opacity: 1;
}
.modal{
    background-color: rgba(97, 202, 228, 0.952);
    color: #333;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
}