*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('../assets/img/fondo3.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; 
}
/*Rueda Cargando*/

#contenedorCarga{
    background-color: rgba(250, 240, 245, 0.842);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
}
#carga{
    border: 15px solid #ccc;
    border-top-color: #4abdac;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
}
@keyframes girar{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

/*----------------------*/
.contenedor{
    display: grid;
    height: 100vh;
    padding: 0 2rem;
}
.contenedorReserva{
    display: grid;
    padding: 0 2rem;
}
.contLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.formlogin{
    padding: 25px;
    background: rgb(255 254 254 / 70%);
    border-radius: 10px;
}
.avatar{
    width: 100px;
}
.titulo{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
    text-align: center;
}
.input{
    background: none;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    height: 40px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
.divlogi{
    border-bottom: 1px solid #333;
    text-align: initial;
    margin-bottom: 20px;
}
.inputlogi{
    border: none;
    outline: none;
    height: 40px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    background: none;
}
.boton{
    display: block;
    width: 100%;
    height: 50px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 25px;
    background-color: #4abdac;
    transition: .5%;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
}
.boton:hover{
    background-position: right;
    cursor: pointer;
}
.regis{
    text-align: left;
    color: #333;
}
.formlogin a{
    text-decoration: none;
    color:#4A94BD ;
    transition: .3s;
}
.formlogin a:hover{
    color: #4abdac;
}
.div2{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.div2 div{
    padding-right: 15px;
    padding-left: 15px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #fff;
}
.menu img{
    width: 12em;
}
.menu li, .menu a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
    transition: .3s;
}
.menu li a:hover{
    color: #4abdac;
    cursor: pointer;
}
.FormReserva{
    margin: 10px auto;
    width: 65%;
    background: rgb(255 254 254 / 70%);
    border-radius: 10px;
    padding: 50px;
}
.DatosPaci{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.inputReser{
    outline: none;
    height: 30px;
    width: 100%;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
.inputReserC{
    outline: none;
    height: 30px;
    width: 50%;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
.labelReserva{
    width:120px;
    float:left;
    text-align:left;
}
.celdaDatoL{
    margin: 20px 0;
    padding-right: 10%;
}
.celdaDatoR{
    margin: 20px 0;
    padding-left: 10%;
}
.eldivtable{
    overflow:scroll;
    height:400px;
    width:100%;
}
.contenedorP{
    padding: 0 50px;
    color: #333;
}
.cabecera{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px 0;
    align-items: center;
}
/*busqueda*/
#Busqueda{
    height: 40px;
    border: none;
    outline: none;
    padding: 0 25px;
    color: #333;
    font-size: 0.95rem;
}
.ConBusqueda select{
    position: relative;
    left: -3px;
    border: none;
    outline: none;
    font-size: 0.95rem;
    padding: 11px 16px;
    margin: -2px;
    border-right: 15px solid #fff;

}
.ConBusqueda button{
    position: relative;
    left: -5px;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #4abdac;
}
.ConBusqueda button ion-icon{
    color: #fff !important;
    font-size: 0.95rem;
}
.ConBusqueda #desde,#hasta{
    height: 35px;
    padding: 0 10px;
    font-size: 0.95rem;
}
/**/
.BusquedaCita{
    text-align: end;
}
.filtraciones{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 15px;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    align-items: center;
    background: #fff;
    border-radius: 8px;
}
.filtrafecha{
    text-align: end;
}
table {
    width: 100%;
    border-collapse: collapse;
    background: rgb(255 254 254 / 80%);
 }
 th, td {
    text-align: left;
    vertical-align: top;
    padding: 15px 0.5em;
    caption-side: bottom;
 }
 thead{
     background-color: #61CAE4;
     color: #333;
     border-bottom: solid 3px #333;
 }
 tr:nth-child(even){
     background-color: #ddd;
 }
 tr:hover td{
    background-color: #61CAE4;
 }
.ventanaModal{
    display: flex;
    background-color: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    position:fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.show{
    pointer-events: auto;
    opacity: 1;
}
.modal{
    background-color: rgba(97, 202, 228, 0.952);
    color: #333;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
}