<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>SAGE Telemedicina</title>
</head>
<body class="body">
    <header class="menu">
        <img src="../assets/img/logo.png" alt="logo">
        <nav>
            <ul>
                <li><a href="#">Consulta</a></li>
                <li><a href="./administrar.html">Administración</a></li>
                <li><a href="#" id="sesion">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
    <div id="ContenidoConsulta">
    <div class="contenedorP">
        <div class="cabecera">
            <h1>Lista de Citas</h1>
            <form id="BusquedaCita" class="BusquedaCita">
                <p class="ConBusqueda">
                    <input type="search" id="Busqueda" name="busqueda" placeholder="Buscar">
                    <select name="busquedaPor" id="busquedaPor">
                        <option value="cedula">Cedula</option>
                        <option value="nombres">Nombres</option>
                        <option value="apellidos">Apellidos</option>
                        <option value="edad">Edad</option>                
                    </select>
                    <button type="submit" ><ion-icon name="search"></ion-icon></button>
                </p>
            </form>
        </div>
        <div class="filtraciones">
            <form id="Filtrar">
                  <button class="Limpiare"  type="submit" onclick="location.reload()">LIMPIAR</button>
            </form>
            <form id="FiltrarFecha" class="filtrafecha">
                <p class="ConBusqueda">
                  Fecha desde:
                  <input type="date" name="desde" id="desde">
                  Hasta:
                  <input type="date" name="hasta" id="hasta">
                  <button type="submit"><ion-icon name="funnel"></ion-icon></button>
                </p>
              
            </form>
        </div>
        
        <div class="eldivtable">
        <table id='CitasContenedor'>
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Edad</th>
                    <th>Especialidad</th>
                    <th>Teléfono</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody id="BodyCitas"></tbody>
        </table>
        </div>
    </div>
    <div class="ventanaModal" id="ventanaModal"> 
        <div class="modal">
            <div id="cerrarModal">
                <span>x</span>
            </div>
            <h1>Informe de la cita</h1>
            <div id="modal"></div>
            <div class="btnModal">
                <button id="aprobar">Aprobar</button>
                <button id="negar">Negar</button>
            </div>
        </div>
    </div>
    </div>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-firestore.js"></script>
<script src="../js/citas.js" ></script>
</html>