<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Optativa I</title>
</head>
<body class="body">
    <header class="menu">
        <img src="../assets/img/logo.png" alt="logo">
        <nav>
            <ul>
                <li><a href="./principal.html">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <div id="contenedorCarga">
        <div id="carga"></div>
    </div>
    <div class="contenedor">
        <div class="contLogin">
            <form class="formlogin" id='formIngresar'>
                <img src="../assets/img/avatar.svg" alt="" class="avatar">
                <h2 class="titulo">BIENVENIDO</h2>
                <div class="divlogi">
                    <ion-icon name="person-outline" size="small"></ion-icon>
                    <input type="text" class="inputlogi" name="usuario" id="logiCorreo" placeholder="Usuario">
                </div>
                <div class="divlogi">
                    <ion-icon name="key-outline" size="small"></ion-icon>
                    <input type="password" class="inputlogi" name="password" id="logiPassword" placeholder="Contraseña">
                </div>
                <button type="submit" class="boton">Ingresar</button>
                <p class="regis">¿Aún no tienes una cuenta?<a href="registro.html"> Regístrate ahora</a></p>
            </form>
        </div>
    </div>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-firestore.js"></script>
<script src="../js/fire.js" ></script>
</html>