<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Optativa I</title>
</head>
<body>
    <header class="menu">
        <img src="../assets/img/logo.png" alt="logo">
        <nav>
            <ul>
                <li><a href="./principal.html">Inicio</a></li>
                <li><a href="./reserva.html">Reservar Cita</a></li>
                <li><a href="#">Mis Citas</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#" id="sesion">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
    <div id="contenedorCarga">
        <div id="carga"></div>
    </div>
    <div class="FormReserva">
        <div class="eldivtable">
        <table id='CitasContenedor'>
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Edad</th>
                    <th>Sexo</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody id="BodyCitas"></tbody>
        </table>
        </div>
    </div>
    <div class="ventanaModal" id="ventanaModal"> 
        <div class="modal">
            <div id="cerrarModal">
                <span>x</span>
            </div>
            <h1>Informe de la cita</h1>
            <div id="modal"></div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-firestore.js"></script>
<script src="../js/reservaCita.js" ></script>
</html>