<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Optativa I</title>
</head>
<body>
    <header class="menu">
        <img src="../assets/img/logo.png" alt="logo">
        <nav>
            <ul id="men">
                
            </ul>
        </nav>
    </header>
    <div class="Nosotros2">
        <div class="Quienes">
            <h1>ABOCADOS A OFRECER AL MUNDO UNA MEDICINA DE EXCELENCIA</h1>
            <div class="linea"></div>
            <p>Somos un grupo de médicos especialistas visionarios que junto a profesionales expertos en las tecnologías de la comunicación creamos un servicio de vanguardia y calidad con el ideal de disminuir las distancias entre médicos y sus pacientes utilizando la tecnología. Nuestro objetivo es servir a nuestros pacientes por medio de una atención de excelencia en calidad, confiable y oportuna, cambiar el paradigma de la atención tradicional hacia la salud digital, utilizando la telemedicina como una medida sanitaria y económica viable en la actualidad.</p>
            <p>Nos interesa apoyar a nuestros colegas médicos en todos sus requerimientos para que la e-salud se convierta en una experiencia fácil y muy útil en su desenvolvimiento diario. Estamos decididos a aportar soluciones a problemáticas emergentes en el ámbito de la salud. La ciencia, la tecnología y la innovación son pilares constitutivos para cualquier escenario que permita afrontar y vencer momentos de crisis y que perdure en el tiempo.</p>
        </div>
        <div class="imgPagiNosotros">

        </div>
    </div>
    <div class="ContenValores">
        <h1>NUESTROS VALORES</h1>
        <div class="Valores">
            <div class="valoresL cuaL">
                <h3>Responsabilidad</h3>
                <p>CUIDAMOS SU SALUD</p>
            </div>
            <div class="valoresL cuaL">
                <h3>Transparencia</h3>
                <p>HONESTIDAD EN PROCESOS</p>
            </div>
            <div class="valoresL cuaL">
                <h3>Profesionalismo</h3>
                <p>LOS MEJORES ESPECIALISTAS</p>
            </div>
            <div class="valoresL cuaL">
                <h3>Innovación</h3>
                <p>VANGUARDIA TECNOLÓGICA</p>
            </div>
            <div class="valoresL">
                <h3>Calidad</h3>
                <p>SERVICIO DE EXCELENCIA</p>
            </div>
        </div>
        
    </div>
    <div class="PContacto">
            <div>
            <h1>CONTACTO</h1>
            <div class="contacto">
                <div class="contactos">
                    <div class="imgContac"><img src="../assets/img/telefono.png" alt=""></div>
                    <h3>Telefono</h3>
                    <p>(+593) 088 888 888</p>
                </div>
                <div class="contactos">
                    <div class="imgContac"><img src="../assets/img/email.png" alt=""></div>
                    <h3>Email</h3>
                    <p>info@sage.com</p>
                </div>
                <div class="contactos">
                    <div class="imgContac"><img src="../assets/img/oficina.png" alt=""></div>
                    <h3>Oficina</h3>
                    <p>Av. Sixto Duran Ballen</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footerContenido">
            <h3>SAGE</h3>
            <P>Una pieza clave en el futuro de la salud.</br>
                (+593) 088 888 888</P>
            <ul class="social">
                <li><a href="https://www.facebook.com/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="https://twitter.com/" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"><ion-icon name="logo-youtube"></ion-icon></a></li>
            </ul>
        </div>
        <div class="footerCopy">
            <p>copyrigth &copy;2020 SAGE. diseñado por <span>Yorly & Cesar</span></p>
        </div>
    </footer>
</body>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-firestore.js"></script>
<script src="../js/fire.js" ></script>
</html>