<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Optativa I</title>
</head>
<body>
    <header class="menu">
        <img src="../assets/img/logo.png" alt="logo">
        <nav>
            <ul id="men">
                
            </ul>
        </nav>
    </header>
    <div class="ContenidoInicio">
        <div class="Bienvenido">
            <h1>Binvenido a SAGE</h1>
            <h1>Mejores servicios de salud</h1>
            <p>El servicio de Telemedicina, que brinda una atención más fácil, rápida y en todo lugar con la misma red de profesionales médicos de SAGE.
                La telemedicina, es una herramienta que te permite acceder a una consulta médica desde cualquier parte del mundo, solamente teniendo acceso a internet.</p>
        </div>
    </div>
    <div class="Servicio">
        <div class="servicios"><h3>Medicina General</h3></div>
        <div class="servicios"><h3>Ginecología</h3></div>
        <div class="servicios"><h3>Cardiología</h3></div>
        <div class="servicios"><h3>Odontología</h3></div>
    </div>
    <div class="Nosotro">
        <div class="imgNosotro"></div>
        <div class="palabras">
            <div>
            <h1>Algunas palabras sobre nosotros</h1>
            <h4>SAGE es un centro de salud calificado a nivel nacional que brinda servicios de atención médica de alta calidad.</h4>
            <p>Adoptamos un enfoque multifacético de la atención médica que nos permite brindar una atención superior, en múltiples disciplinas, para tratar a la persona en su totalidad. Nuestros servicios incluyen medicina general, ginecología, cardiología, y odontología, todo bajo un mismo techo.</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="footerContenido">
            <h3>SAGE</h3>
            <P>centro de salud calificado a nivel nacional que brinda servicios de atención médica de alta calidad.</P>
            <ul class="social">
                <li><a href="https://www.facebook.com/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="https://twitter.com/" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"><ion-icon name="logo-youtube"></ion-icon></a></li>
            </ul>
        </div>
        <div class="footerCopy">
            <p>copyrigth &copy;2020 SAGE. diseñado por <span>Yorly & Cesar</span></p>
        </div>
    </footer>
</body>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-firestore.js"></script>
<script src="../js/fire.js" ></script>
</html>