<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Optativa I</title>
</head>
<body>
    <div class="contenedor">
        <div class="contLogin">
            <form class="formlogin" id="formregis">
                <h2 class="titulo">Registro</h2>
                <div class="div2">
                    <div><input type="text" class="input" name="nombre" placeholder="Nombres"></div>
                    <div><input type="text" class="input" name="apellido" placeholder="Apellidos"></div>    
                </div>
                <div class="div">
                    <input type="email" class="input" name="correo" id="correo" placeholder="Correo">
                </div>
                <div class="div">
                    <input type="password" class="input" name="password" id="password" placeholder="Contraseña">
                </div>
                <button type="submit" class="boton">Registrarse</button>
            </form>
        </div>
    </div>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-firestore.js"></script>
<script src="../js/fire.js" ></script>
</html>