<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Optativa I</title>
</head>
<body class="body">
    <header class="menu">
        <img src="../assets/img/logo.png" alt="logo">
        <nav>
            <ul>
                <li><a href="./principal.html">Inicio</a></li>
                <li><a href="#">Reservar Cita</a></li>
                <li><a href="./miscitas.html">Mis Citas</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#" id="sesion">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
    <div id="contenedorCarga">
        <div id="carga"></div>
    </div>
    <div class="contenedorReserva">
    <div class="FormReserva">
        <form id="ReservaCita">
            <h2 class="titulo">formulario solicitud de citas</h2>
            <h3>Datos del paciente:</h3>
            <div class="DatosPaci">
                <p class="celdaDatoL">
                    <label for="nombres">Nombres:</label>
                    <input type="text" class="inputReser" id="nombres" name="nombres" required></p>
                <p class="celdaDatoR">
                    <label for="apellidos">Apellidos: </label>
                    <input type="text" class="inputReser" id="apellidos" name="apellidos" required></p>
                <p class="celdaDatoL">
                    <label for="cedula">Cédula: </label>
                    <input type="number" class="inputReser" id="cedula" name="cedula" required></p>
                <p class="celdaDatoR">
                    <label for="edad">Edad: </label>
                    <input type="number" class="inputReser" id="edad" name="edad" required></p>
                <p class="celdaDatoL">
                    <label for="genero">Género: </label>
                    <input type="radio" id="sexo" name="genero" value="masculino"> Masculino
                    <input type="radio" id="sexo" name="genero" value="femenino"> Femenino</p>
                <p class="celdaDatoR">
                    <label for="telefono">Teléfono: </label>
                    <input type="number" class="inputReser" id="telefono" name="telefono" required></p>
            </div>
            <div class="">
                <h3>Datos de la cita:</h3>
                <p class="celdaDatoL"><label for="especialidad" class="labelReserva">Especialida:</label>
                <select name="especialida" id="especialidad" class="inputReserC">
                    <option value="Medicina General">Medicina General</option>
                    <option value="Ginecología">Ginecología</option>
                    <option value="Cardiología">Cardiología</option>
                    <option value="Odontología">Odontología</option>
                </select></p>
                <p class="celdaDatoL"><label for="fecha" class="labelReserva">Fecha:</label>
                <input type="date" class="inputReserC" name="fecha" id="fecha" required></p>
                <p class="celdaDatoL"><label for="hora" class="labelReserva">Hora:</label>
                    <input type="time" class="inputReserC" name="hora" id="hora" required></p>
                <p class="celdaDatoL"><label for="descripcion" >Descripcion del malestar:</label></p>
                <p class="celdaDatoL"><textarea name="descripcion" id="descripcion" cols="50" rows="10"></textarea></p>
            </div>
            <button type="submit" class="boton">Reservar</button>
        </form>
    </div>
    </div>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-firestore.js"></script>
<script src="../js/reservaCita.js" ></script>
</html>